streamlit
langchain
langchain-core
langchain-groq
langchain-community
fpdf2
audio-recorder-streamlit
pandas
python-dotenv
sqlalchemy
fastapi
uvicorn[standard]
pydantic
pydantic-settings
langgraph
websockets
python-multipart
httpx
aiofiles
plotly
pytz
groq
streamlit-autorefresh