fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
langgraph
langchain-google-genai
google-generativeai
python-dotenv
websockets
alembic
langchain-core
python-multipart
httpx
aiofiles
langchain-groq
reportlab